@use "./partials/mixins" as *;
@use './partials/variables' as *;


.itinerary {
  background-position: center;
  background-size: cover;
  padding: 9rem;

 &__title {
    font-size: 7.8rem;
    color: white;
    margin-top: 0;
  }

  &__container {
    @include flex(space-evenly, null, center);
    margin: 5rem;
  }

  &__card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    border-radius: 5px;
    width: 28%;
    height: 32%;
    flex-wrap: wrap;
    padding: 0 2rem 4.5rem;
  }

  &__card-title {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    border-bottom: 2px solid black;
  }

  &__card-content {
    text-align: center;
    padding: 0.1rem;
    width: 100%;
    list-style-type: none;
    text-decoration: none;

  }

  &__activity {
      padding: 1.5rem 4rem; 
      background: $bg-color;
  }
 
  &__space {
    background: white;
  }

}

 .itinerary__image-hawaii {
   @extend .itinerary;
   background-image: $bg-image-hawaii;
 }

.itinerary__image-iceland {
    @extend .itinerary;
      background-image: $bg-image-iceland;
  }

 .itinerary__image-greece {
   @extend .itinerary;
   background-image: $bg-image-greece;
 }