$brand-primary: #335576;
$brand-secundary: #db7a4e;
$bg-color: #fefaf5;
$bg-image-hawaii: url(../assets/images/hawaii.jpg);
$bg-image-iceland: url(../assets/images/iceland.jpg);
$bg-image-greece: url(../assets/images/greece.jpg);